<aside id="delete-item<%= renthouse.id %>" class="modal">
  <div class="modal-inner modal-banner">
    <div class="modal-body">
      <div class="modal-head bold">確認<br/>
        削除すると二度と復活できません。<br><br>本当に削除しますか？
      </div>
      <p>
      <button type="button" class="modal-btn modal-btn-cancel" data-modal="delete-item<%= renthouse.id %>" data-close="modal">キャンセル</button>
      <%= link_to '削除する', "/rent_houses/#{renthouse.id}", method: :delete, class: 'modal-btn modal-btn-submit' %>
      </p>
    </div>
  </div>
</aside>
