<%= render partial: "share/navbar" %>

<header class="masthead" style="background-image: url('../images/post-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading updown"></div>
      </div>
    </div>
  </div>
</header>


<div class="container form">
  <h2 class="title-submit">物件情報登録</h2>
  <%= render 'new_form', renthouse: @renthouse %>
</div>