div.post-preview{
  div.preview{
     p.post-meta{
      line-height: 1.5;
      margin: 0 0 5px 0;
      font-size: 18px;
      font-style: italic;
      margin-top: 0;
      color: #6c757d;
      a{
      text-decoration: none !important; 
      }
    }
  }
}

p{
  a{
    text-decoration: none !important;
  }
}

div.test.user{
  background: #BAD3FF;
}

nav{
  > ul.pagination{
    text-align: center;
  }
}

h3{
  display: inline;
}

// h4{
//   display: inline;
// }

div.post{
  display: inline-block;
}

div.like-subtitle{
  margin: 3px 0 0 0;
}

div.post-subtitle{
  font-weight: 800;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  > p{
    margin: auto;
  }
}

button.btn.btn-small{
  padding: 0 0 10px 0;
  font-size: 20px;
}

.site-heading {
  padding: 150px 0 150px;
  color: white;
  @media only screen and (min-width: 768px) {
    padding: 150px 0;
  }
}

header.masthead{
  margin-bottom: 0px;
}

div.row{
  padding-top: 2.5rem !important;
}

div.row.nav{
  border-bottom: 1px solid #dee2e6;
}

div.row.tab{
  background-color: white;
  border-bottom: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
}

ul.nav.nav-tabs{
  border-bottom: none;
  cursor: pointer;
}

div.tab-pane{
  table{
    text-align: center;
    thead{
      border-bottom: 1px solid #dee2e6;
      th{
        border-bottom: none;
        border-top: none;
      }
    }
    td{
      border-top: none;
      vertical-align: middle;
    }
  }
}

div.rank{
  table,th,td{
    border-collapse: collapse;
    border-bottom:1px solid #333;
    text-align: center;
    padding: 5px;
  }
  th{
    font-size: 17px;
  }
  td{
    font-size: 15px;
  }
}

@media only screen and (min-width: 768px){
  div.site-heading.updown{
  padding: 0;
  margin: 20px 0 10px;
  }
}

div.content{
  background: white;
}

div.pagination-centar{
  margin-top: 1rem;
  justify-content: center;
  display: flex;
}

div.side-rent-rank{
  h5{
    background: #F84F50;
    padding: 10px 0;
    color: white;
    text-align: center;
    font-size: 17px;
    margin: 0;
  }
  table{
    background: white;
  }
}

body{
  background: #f8f9fa;
}

.card.devise{
  margin: 0px 100px ;
}

.square{
  margin: 30px 50px ;
}

.content.col-md-9.show{
  padding: 15px;
}