// Place all the styles related to the rentHouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-span {
  display: inline-block;
  background-color: #ea352d;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  margin-bottom: 10px;
}

.container-nav{
  background-color: black;
  color: white;
}

.renthouse-table{
  font-size:1rem;
  text-align: left;
  .view-table{
    width: 100%;
    box-sizing: border-box;
    border-collapse: collapse;
    .view-table-tbody{
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      vertical-align: baseline;
      background: transparent;
      .view-table-tr{
        border-top: 1px solid #dbdbdb;
        border-bottom: 1px solid #dbdbdb;
        border-left: 1px solid #dbdbdb;
        .view-table-title{
          background-color: #eeeeee;
          width: 90px;
          text-align: center;
          padding: 10px;
          border-right: 1px solid #dbdbdb;
          border-collapse: collapse;
          vertical-align: middle;
        }
        .view-table-body{
          // width: 245px;
          padding: 10px 0;
          box-sizing: border-box;
          border-right: 1px solid #dbdbdb;
          border-collapse: collapse;
        }
      }
    }
  }
}

.container.form{
  margin: 50px auto;
  // display: inline-block;
  border: 2px solid rgba(0, 0, 0, 0.25);
  background-color: #fff;
  position: relative;
  display: block;
  padding: 1.25rem;
  .title-submit{
    text-align: center;
  }
  .form-button{
    display: flex;
    .actions-return{
      margin-right: 50px;
    }
    .actions-submit{
      margin-left: 50px;
    }
  }
}

.col-sm-2.col-form-label.text{
  text-align: center;
}