// Place all the styles related to the rentHouses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-span {
  display: inline-block;
  background-color: #ea352d;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
  margin-bottom: 10px;
}
